.main_first {
    background: #536475;
    font-family: serif;
  }
  .main_first p {
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-size: 15px;
  }
  
  .main-box-container {
    margin: 100px auto;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.03);
  }
  .main-box-container.right-open .box1-content {
    flex: 0;
    padding: 0;
    opacity: 0;
  }
  .main-box-container.right-open .box1-side {
    flex: 0;
  }
  .main-box-container.right-open .box2-side {
    flex: 2;
  }
  .main-box-container.right-open .box2-content-about{
    flex: 4;
    padding: 30px 40px;
    opacity: 1;
  }
  
  .box1-content,
  .box1-side,
  .box2-content-about,
  .box2-side {
    transition: all 0.3s ease-out;
    color: darkslategray;
    overflow: hidden;
  }
  
  .box1-side,
  .box2-side {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .box1-content {
    background: whitesmoke;
    flex: 4;
    padding: 30px 40px;
  }
  
  .box1-side {
    background: #bac6d2;
    flex: 2;
  }
  
  .box2-side {
    background: #a6bdbd;
    flex: 0;
  }
  
  .box2-content-about{
    background: whitesmoke;
    flex: 0;
  }
  
  button {
    background: #11526b;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.32);
    color: white;
    margin: 30px 0;
  }